
<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
  <h1>Mon super site de gossip!</h1>

  <p>Voici la liste des potins, n'hésite pas à en soumettre un via <a href="/gossips/new/">ce lien</a> !</p>

  <% gossips.each.with_index(1) do |gossip, index| %> <!--la fonction each.with.index permet ici de donner un index de départ de 1 -->
      <p>
        <a href="/gossips/<%= index%>/"> Gossip numéro <%= index%>  </a><br/>
        Son auteur : <%= gossip.author %><br/>
        Le contenu du potin : <%= gossip.content %><br/>
      </p>
    <% end %>


</body>
</html>