
<html>

    <head>
        <title>The Gossip Project</title>
    </head>

    <body>

        <h1>Page potin</h1>
        
        <p> 
        Voici le potin n° <%= id %> <br/>
        Son auteur : <%= gossip.author %> <br/>
        Le contenu du potin : <%= gossip.content %>
        </p>

        <a href='/gossips/<%= id%>/edit/'>Clique ici pour modifier ce gossip</a><br />
        <a href="/"> retour à la page des gossip</a>

    </body>

</html>